.pagina-registro {
  min-height: 100vh;
  width: 100%;

  background-image: url("../../assets/img/EstadioDiablos2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  background: linear-gradient(180deg, #ffffff 0%, #f7f9fc 100%);
  width: 100%;
  max-width: 450px;
  padding: 32px 70px;
  border-radius: 18px;
  box-shadow:
    0 15px 40px rgba(0, 0, 0, 0.18),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);
  text-align: center;

}

.logo-wrapper {
  width: 260px;
  height: 170px;
  margin: 0 auto 10px;
}

.logo-mlb {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/mlbresultadosimg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.grupo-registro {
  margin-bottom: 16px;
}

.grupo-registro input,
.grupo-registro select {
  width: 100%;
  padding: 16px 14px;
  border-radius: 10px;
  border: 1px solid #d5dbea;
  font-size: 14px;
  outline: none;
  background-color: #ffffff;
  transition: border 0.2s ease;
}

.grupo-registro input::placeholder {
  color: #8a94a6;
}

.grupo-registro select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.icon-input {
  position: relative;
}

.icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;

  background-size: contain;
  background-repeat: no-repeat;

  opacity: 0.6;
  pointer-events: none;
  z-index: 2;

  transition: transform 0.3s ease, opacity 0.3s ease;
}
.icon.pelota {
  background-image: url("../../assets/img/PelotaBeisbol.png");
}

.icon.bate {
  background-image: url("../../assets/img/bateBeisbol.png");
}

.icon-input input,
.icon-input select {
  padding-left: 50px;
}
.icon-input input {
  padding-left: 48px;
  position: relative;
  z-index: 1;
}

.icon-input:focus-within .icon {
  transform: translateY(-50%) scale(1.2) rotate(-8deg);
  opacity: 1;
}

.entrar {
  margin-top: 8px;
  width: 100%;
  padding: 14px;
  border-radius: 999px;
  border: none;
  background: linear-gradient(135deg, #000000, #2a2a2a);
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.entrar:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.entrar:active {
  transform: scale(0.97);
}

.registro {
  margin-top: 18px;
  font-size: 13px;
  color: #444;
}

.registro a {
  color: #0056b3;
  text-decoration: none;
  font-weight: 600;
}

.registro a:hover {
  text-decoration: underline;
}

